<!DOCTYPE html>
<html>
  <head>
    <title>IeSpeech</title>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- Navbar -->
<%= render "partials/navbar" %>

  <body>
    <%= yield %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    </body>
  </body>

  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark pt-0 ">
      <!--Footer Links-->
      <div class="container mt-5 mb-9 text-center text-md-left">
          <div class="row mt-3">
              <!-- Column 1 -->
              <div class="col-md-3 col-lg-4 col-xl-5 mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Innovative Expressions</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Innovative Expressions is a therapy company that provides speech and occupational therapy services to children and adults with disabilities. We strive to empower our clients to optimize their communication, motor skills, daily living skills, mealtime habits and social skills with family, friends, and the community for an increased sense of well-being and quality of life.</p>
              </div>
              <!--/ Column 1 -->

              <!-- column 2-->
              <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold"><strong>Contact</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><i class="fa fa-home mr-3"></i>1712 S. Boulevard Edmond, OK 73013</p>
                <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:ietherapy@yahoo.com">ietherapy@yahoo.com</a></p>
                <p><i class="fa fa-phone mr-3"></i> <a href="tel:405-606-5768">(405) 606-5768</a></p>
                <p><a class="fb-ic ml-0" href="https://www.facebook.com/Innovative-Expressions-PLLC-302762167597/" target="_blank"><i class="fa fa-facebook white-text mr-lg-4"></i></a></p>
              </div>
              <!--/ Column 2-->
          </div>
      </div>
      <!--/.Footer Links-->

      <!-- Copyright-->
      <div class="footer-copyright py-3 text-center" id="copyright">
          <div class="container-fluid">
              &copy; 2018 Copyright <a href="http://www.iespeechtherapy.com/"><strong> Innovative Expressions</strong></a>
          </div>
      </div>
      <!--/.Copyright -->
  </footer>
  <!-- Footer -->

</html>
